<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="../../dist/vue.js"></script>
    <script src="./app.js"></script>
</head>
<body>
<div id="app" class="container">
    <div class="row justify-content-md-center">
        <div class="status col col-lg-2" v-model="hero">
            <div class="label">
                <template v-if="winner === 'monster'"><strike>Hero: <span class="name">{{ hero.name }}</span></strike></template>
                <template v-else>Hero: <span class="name">{{ hero.name }}</span></template>
                <span v-if="inBattle">in Battle</span>
            </div>
            <div class="row">
                <div class="col">
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger health" :style="heroHealth">
                                {{ hero.health }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info energy" :style="heroEnergy">
                                {{ hero.energy }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="status col col-lg-2">
            <div class="row">
                <div class="col">
                    <div class="label" v-model="monster">
                            <template v-if="winner === 'hero'"><strike>Monster: <span class="name">{{ monster.name }}</span></strike></template>
                            <template v-else>Monster: <span class="name">{{ monster.name }}</span></template>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="progress">
                        <div class="progress-bar health" :style="{width: monster.health + '%'}">
                            {{ monster.health }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="progress">
                        <div class="progress-bar energy" :style="{width: monster.energy + '%'}">
                                {{ monster.energy }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="control col" v-if="inGame">
                <button type="button" class="btn btn-danger" @click="heroAttack" :disabled="buttonsDisable.attack">Attack</button>
                <button type="button" class="btn btn-warning" @click="heroSpecialAttack" :disabled="buttonsDisable.specialAttack">Special attack</button>
                <button type="button" class="btn btn-success" @click="heroHeal" :disabled="buttonsDisable.heal">Heal</button>
                <button type="button" class="btn btn-info" @click="heroUseShield" :disabled="buttonsDisable.useShield">Use shield</button>
                <button type="button" class="btn btn-secondary" @click="giveUp" :disabled="buttonsDisable.giveUp">Give up</button>
        </div>
        <div class="control col" v-else>
                <button type="button" class="btn btn-success" @click="startGame">Start new game</button>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div id="logs" class="logs col" v-show="inGame">
            <div class="row" v-for="log in logs">
                <div class="col">
                    <div v-if="log.side === 'hero'" class="alert alert-success">
                        <span v-html="log.message"></span>
                    </div>
                    <div v-else class="alert alert-danger">
                        <span v-html="log.message"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>