.container {
    margin-top: 10px;
}

.status {
    background-color: whitesmoke;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 8px;
}

.status .progress {
    margin-bottom: 2px;
}

.health {
    background-color: lightcoral;
}

.energy {
    background-color: lightskyblue;
}

.scale {
    background: lightgray;
    width: 100%;
}

.name {
    font-weight: bolder;
}

.control {
    border: 1px solid lightgrey;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    vertical-align: middle;
    padding: 18px;
    border-radius: 4px;
    margin: 4px 0 4px 0;
}

.control button {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.control button+button {
    margin-left: 4px;
}

.progress {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.logs {
    border: 1px solid lightgrey;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    vertical-align: middle;
    padding-top: 18px;
    border-radius: 4px;
    margin: 4px 0 4px 0;
    max-height: 500px;
    overflow: auto;
}