<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example9</title>
    <script src="../../dist/vue.js"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(ingredient, i) in ingredients" :key="ingrdient">
            {{ ingredient }} ({{ i }})
        </li>
    </ul>
    <button @click="ingredients.push('spices')">
        Add new
    </button>
    <button @click="ingredients.pop()">
        Remove last
    </button>
    <hr>
    <ul>
        <li v-for="person in persons">
            <span v-for="(value, key, index) in person">
                {{ key }}:  {{ value }} ({{ index }})
            </span>
        </li>
    </ul>
    <span v-for="n in 10">{{ n }}</span>
    <span v-for="c in 'trololo'">{{ c }} </span>
    <hr>
    <template v-for="(ingredient, index) in ingredients">
        <h1>{{ ingredient }}</h1>
        <p>{{ index }}</p>
    </template>
</div>
</body>
</html>